[submodule "docker-fastcgi-daemon"]
	path = docker-fastcgi-daemon
	url = git://github.com/LuckyGeck/docker-fastcgi-daemon.git
[submodule "src/rapidjson"]
	path = src/rapidjson
	url = https://github.com/miloyip/rapidjson.git
